---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1> Today I Learned </h1>
<p> Things I pick up through the hairy journey of development. </p>

<span class="tag-wrapper">
<h2> Tag Cloud </h2>
<input class="accordion-checkbox" type="checkbox" id="tags" />
<label class="accordion-title" for="tags">show</label>

<div class="accordion-content tag-cloud">
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }} - {{ tag | length }}</a>
{% endfor %}
</div>
</span>

{% set maxPosts = collections.posts.length | min(100) %}

<h2>The Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-100) %}
{% set postslistCounter = collections.posts | length %}

{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
