/*******************************************************************
  ROOT SECTION:
  Define a vanilla DEFAULT template here.
  For making new themes, scroll down to the section titled "THEMES"
*******************************************************************/

:root {
  /* Define colors as colors */
  --black: #1b2d45;
  --white: #fff;
  --darkGrey: #222;
  --grey: #ab987a;
  --lightGrey: #f5f5f5;

  --green: #00ebc7;
  --red: #ff533d;
  --lightRed: #ffa08a;
  --darkRed: #b30700;
  --yellow: #fde24f;
  --darkBlue: #0f1626;

  /* Define color intentions*/

  /* Positioning */
  --containerPadding: 10%;
  --borderRadius: 1.2rem;
  --gridGap: 2rem;
  --globalSpacing: 1.5rem;
  --tightLineHeight: 1.375;

  /* Typography */
  --baseFontSize: 1.3em;
  --h1: 3.052em;
  --h2: 2.441em;
  --h3: 1.953em;
  --h4: 1.563em;
  --h5: 1.25em;
  --smallText: 0.8em;

  --headingFont: 'Raleway', sans-serif;
  --headingWeight: 600;
  --bodyFont: 'Merriweather';
  --bodylineHeight: 2.1;
  --textColor: var(--black);

  /* Elements */
  --headerHeight: 3rem;
  --headerBackground: var(--darkBlue);

  --siteBackground: var(--lightGrey);
  --siteLines: solid 1px var(--grey);

  --linkColor: var(--red);
  --linkUnderline: solid 2px var(--red);
  --linkOnHover: var(--lightRed);

  --footerHeight: 2rem;
  --footerBackground: var(--darkBlue);

  --textMarginBottom: var(--globalSpacing);
  --divMarginBottom: var(--globalSpacing);

  --btnTextColor: var(--white);
  --btnPrimary: var(--red);
  --btnSecondary: var(--grey);
  --btnBgColor: var(--btnPrimary);
  --btnHover: var(--lightRed);
  --btnFocus: 0 0 0 5px var(--red);

  --blockquoteBorder: 4px solid var(--darkBlue);

  --figureColor: var(--darkBlue);
  --figureTextColor: var(--white);

  --tableHeaderBgColor: var(--darkBlue);
  --tableHeaderColor: var(--textColor);
  --tableBodyColor: var(--textColor);
  --tableRowColor1: var(--grey);
  --tableRowColor2: var(--lightGrey);

  --cardWidth: 400px;
  --cardBg: var(--darkBlue);
  --cardPadding: var(--globalSpacing);
  --cardTextColor: var(--white);

  --formfieldTop: 0px;
  --formfieldRight: 0px;
  --formfieldBottom: 2px solid var(--darkBlue);
  --formfieldLeft: 0px;

  --formTextareaX: 24rem;
  --formTextareaY: 8rem;

  --formfieldLabel: var(--darkGrey);
  --formfieldBg: var(--grey);
  --formfieldFocus: 0 0 0 5px var(--grey);
  --formfieldHover: yellow;

  /* Only available with selector.css */
  --selectSize: 1.2rem;
  --selectHover: var(--darkBlue);
  --selectOnClick: var(--lightRed);
  --selectSelected: var(--red);

  /* Elevation */
  --level-1: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --level-2: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --level-3: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-4: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-5: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-6: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --level-7: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

/*******************************************************************
IMPORTS SECTION
*******************************************************************/
@import url('https://fonts.googleapis.com/css?family=Raleway:600|Merriweather:400');

@import url('https://fonts.googleapis.com/css?family=Prata:400|Preahvihear:400');

/*******************************************************************
RESET SECTION:
*******************************************************************/
html {
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

/* This disables the box sizing defaults bullshit */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*******************************************************************
DYNAMIC SECTION
The goal of these sections is that it grabs the key variables as
possible from the :root or theme class.
It's organized in alphabetical order.
*******************************************************************/
body {
  font-size: var(--baseFontSize);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: var(--bodylineHeight);
  background: var(--siteBackground);
  color: var(--textColor);
  max-height: 100vh;
  margin: 0;
  /* transition: 2s ease-in-out; */
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  height: var(--headerHeight);
  background: var(--headerBackground);
  padding: 0 var(--containerPadding);
  box-shadow: var(--level-2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header div {
  margin: 0;
}

footer {
  /* position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; */
  /* overflow: hidden; */
  --footerTextColor: var(--lightGrey);
  color: var(--footerTextColor);
  background: var(--footerBackground);
  padding: var(--footerHeight) var(--containerPadding);
  text-align: center;
}

footer a {
  color: var(--footerTextColor);
}

footer p {
  margin-bottom: 0;
  max-width: none;
}

hr {
  border-top: var(--siteLines);
}

/* Text */

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: var(--headingFont);
  font-weight: var(--headingWeight);
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

p {
  margin-top: 0;
  margin-bottom: var(--textMarginBottom);
  max-width: 40em;
}

div {
  margin-bottom: var(--divMarginBottom);
}

p a {
  color: var(--linkColor);
  text-decoration: none;
  border-bottom: var(--linkUnderline);
}

.small,
.text-small {
  font-size: var(--smallText);
}

a,
a:hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  /* color: var(--black); */
  padding-bottom: 0.2rem;
}

a:hover {
  color: var(--linkOnHover);
}

a:after {
  left: 0;
  content: '';
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  bottom: -0.15em;
  height: 0.3rem;
  width: 0;
  background: var(--linkOnHover);
}

a:hover:after {
  width: 100%;
}

blockquote {
  border-left: var(--blockquoteBorder);
  margin: 2em 1em;
  padding: 1em;
  background: var(--blockquoteBg);
  color: var(--blockquoteTextColor);
  box-shadow: var(--level-3);
}

blockquote a {
  color: var(--linkColor);
  text-decoration: none;
  border-bottom: var(--linkUnderline);
}

/* Tables */

table {
  border: var(--siteLines);
  background-color: var(--tableRowColor1);
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

table tr:nth-child(even) {
  background: var(--tableRowColor2);
}

table td,
table th {
  border: var(--siteLines);
  padding: 3px 2px;
}

table tbody td {
  font-size: var(--smallText);
  color: var(--tableBodyColor);
}

table thead th,
table tfoot th {
  background: var(--tableHeaderBgColor);
  font-weight: 600;
  color: var(--tableHeaderColor);
  text-align: center;
}

table tfoot th {
  font-size: var(--smallText);
}

/* Buttons */

[type='submit'],
[type='button'],
[type='reset'],
button {
  background-color: var(--btnBgColor);
  color: var(--btnTextColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--level-4);

  appearance: none;
  padding: 5px 25px;
  border: none;
  transition: 0.3s ease-in-out;
}

[type='reset'],
button.cancel {
  --btnBgColor: var(--btnSecondary);
  --btnTextColor: white;
}

/* input:hover, */
[type='submit']:hover,
[type='button']:hover,
[type='reset']:hover,
button:hover {
  background-color: var(--btnHover);
  transition-duration: 0.5s;
  transition-property: color, background-color;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

input:disabled,
button[disabled] {
  opacity: 0.4;
}

[type='submit']:focus,
[type='button']:focus,
[type='reset']:focus,
button:focus {
  outline: none;
  box-shadow: var(--btnFocus);
}

button.small {
  font-size: var(--smallText);
}

/* Code */
/* TODO: Fix this to use more variables */
pre code {
  display: block;
  padding: 1rem 1.5rem;
  margin: .5em 0;
  background-color: var(--darkBlue);
  color: var(--white);
  width: 100%;
  font-size: var(--borderRadius);
  line-height: var(--tightLineHeight);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  display: block;
  overflow-x: auto;
  border-radius: var(--borderRadius);
}

code {
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
}

/* Media */
figure {
  border: 2px var(--figureColor) solid;
  display: inline-flex;
  flex-flow: column;
  margin: auto;
}

figure img {
  max-height: 100%;
}
figcaption {
  background-color: var(--figureColor);
  color: var(--figureTextColor);
  font-size: var(--smallText);
  padding: 3px;
  font-weight: 600;
  text-align: center;
}

audio {
  box-shadow: var(--level-5);
  border-radius: var(--borderRadius);
  transform: scale(1.05);
}

video {
  border-radius: var(--borderRadius);
  box-shadow: var(--level-5);
}

iframe {
  box-shadow: var(--level-5);
  border: 2px solid var(--figureColor);
}

/* form */

/* style all the text inputs the same */
[type='text'],
[type='password'],
[type='url'],
[type='email'],
[type='tel'],
[type='search'],
[type='number'],
[type='date'],
[type='month'],
[type='week'],
[type='datetime'],
[type='datetime-local'],
textarea {
  border: none;
  border-top: var(--formfieldTop);
  border-right: var(--formfieldTop);
  border-bottom: var(--formfieldBottom);
  border-left: var(--formfieldLeft);
  padding: 6px 12px 6px 0px;
  transition: 0.2s ease-in-out box-shadow;
  background-color: var(--formfieldBg);
  color: var(--textColor);
}

[type='date'],
[type='month'],
[type='week'],
[type='datetime'],
[type='datetime-local'] {
  padding: 6px 0px;
  color: var(--textColor);
}

input:hover {
  background-color: var(--formfieldHover);
  transition-duration: 0.5s;
  transition-property: color, background-color;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: var(--formfieldFocus);
}

textarea {
  padding: 12px;
}

[type='color'] {
  width: 40px;
  height: 40px;
}

::placeholder {
  color: var(--grey);
}

label {
  display: block;
  font-weight: 600;
  color: var(--formfieldLabel);
  font-size: var(--smallText);
  padding-bottom: 2px;
}

textarea {
  height: var(--formTextareaY);
  width: var(--formTextareaX);
}

fieldset {
  padding: 1em 1.5em;
}

legend {
  padding: 0px 0.5rem;
  font-weight: 600;
  font-size: var(--smallText);
}

select {
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/arrow.svg) 96% / 15% no-repeat #eee;
}

select {
  border: var(--siteLines);
}

/*******************************************************************
UTILITIES SECTION
Unfortunately, classless css is impossible. These classes are for layouts
and mobile responsiveness. Avoid creating the 'tailwindcss' experience.
*******************************************************************/

.grid {
  --gridColumns: 1;
  display: block;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  grid-gap: var(--gridGap);
}

.cols-2 {
  --gridColumns: 2;
}

.cols-3 {
  --gridColumns: 3;
}

.flex {
  --justifyContent: space-between;
  display: block;
  justify-content: var(--justifyContent);
}

.flex-around {
  --justifyContent: space-around;
}

main {
  padding: calc(3rem + var(--headerHeight)) var(--containerPadding);
}

/*******************************************************************
COMPONENTS SECTION
Unfortunately, classless css is impossible. These classes are for
defined elements within a website.
*******************************************************************/

.card {
  max-width: var(--cardWidth);
  background: var(--cardBg);
  box-shadow: var(--level-5);
  border-radius: var(--borderRadius);
  color: var(--cardTextColor);
}

.card > * {
  margin: 0 var(--cardPadding);
}

.card > *:first-child {
  margin-top: 0;
}

.card > *:last-child {
  margin-bottom: var(--cardPadding);
}

.card > p,
.card > h1,
.card > h2,
.card > h3,
.card > h4,
.card > h5 {
  padding-top: var(--cardPadding);
}

.card > p:last-child {
  padding-bottom: var(--cardPadding);
}

.card img {
  width: 100%;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  margin: 0px;
  padding: 0px;
}

.card button {
  margin-top: var(--cardPadding);
}

.box {
  display: grid;
  width: auto;
  margin: auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto; 
  justify-content: center; 
}

.box .card {
  background: none;
  border: 1px black solid; 
  color: black; 
  width: 20vw;
  margin-left: 20px; 
}

.relatedCard {
  font-size: 1rem;
}


/*
/*******************************************************************
MEDIA QUERY SECTION
This is at the bottom of the CSS to have the highest priority on a site.
*******************************************************************/
@media only screen and (max-width: 800px) {
  :root {
      --baseFontSize: 100.5%;
      --h1: 2.052em;
      --h2: 1.841em;
      --h3: 1.653em;
      --h4: 1.3rem;
      --h5: 1.05em;

  }

  .grid {
      display: grid;
  }

  .flex {
      display: flex;
  }
}

@media only screen and (min-width: 1600px) {
  :root {
    --containerPadding: 20%;
  }


}

@media only screen and (min-width: 2400px) {
  :root {
    --containerPadding: 30%;
  }
}


/*******************************************************************
HACKY OVERRIDES SECTION
You know why you're here. ;-)
*******************************************************************/

.fake-logo {
  margin: 0;
  color: red;
  font-size: 20px;
}

/* simulated states */
.link-active {
}
.link-hover {
}
.link-hover {
}
.link-focus {
}
.link-visited {
}
