<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/src/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/src/css/stripey.css' | url }}">
    <link rel="stylesheet" href="{{ '/src/css/support.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>

      <div class="home">
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </div>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </header>

    <main{% if templateclass %} class="{{ templateClass }}" {% endif %}>
      {{ content | safe }}

      {# Current page:
      {{ page.url | url }} #}
    </main>

    <footer>
      <p>So much to learn. So little time!</p>
      <p>&copy; 2019-{% currentYear %} Hey It's Rocky</p>
    </footer>

  </body>
</html>
