---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>
<p class="subheader">POSTED ON: <time class="postlist-date small italics" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time></p>
<p class="subheader">TAGS:
    {% for tag in tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
</p>

{{ content | safe }}

<hr>
<h3>Related TILs</h3> 
<p class="subheader">Tagged: {% set tagUrl %}/tags/{{ tags[1] }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tags[1] }}</a>
</p>
{% set relatedPosts = collections.posts|findRelatedPosts %}
{% set relatedPostsLength = relatedPosts[tags[1]].length %}

<div class="box">
  {% for i in range(0, 3) -%}
    {% if i <= (relatedPostsLength-1) %}
      {% set post = relatedPosts[tags[1]][i] | deconstructTag %}
      <a href="{{ post.url | url }}" class="relatedLinks">
      <div class="card"> 
        <p class="relatedCard"><b>{{ post.title }}</b></p>
        <p class="relatedCard">{{ post.description }}</p>
        <time class="postlist-date small italics" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </div>
      </a>
    {% else %}   
      {% set post = relatedPosts[tags[1]][relatedPostsLength-1] | deconstructTag %}
      <a href="{{ post.url | url }}" class="relatedLinks">
        <div class="card"> 
          <p class="relatedCard"><b>{{ post.title }}</b></p>
          <p class="relatedCard">{{ post.description }}</p>
          <time class="postlist-date small italics" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        </div>
      </a>
    {% endif%}
  {% endfor %}
</div>

<hr>
<ul class="post-navigation">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li><span class="small strong">Next:</span>
  <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a><span class="small italics">{{ nextPost.data.description }}</span></li>
  {% endif %}

  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li><span class="small strong">Previous:</span>
  <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a><span class="small italics">{{ previousPost.data.description }}</span></li>
{% endif %}
</ul>
